{% extends 'backend/adminbase.html.twig' %}
{% block title %} User Comments {% endblock %}

{% block main_content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Comment List</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                        <th>Status</th>
                        <th colspan="2" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comment_list %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.subject }}</td>
                        <td>{{ comment.status }} </td>
                        <td>
                            <form method="post" action="{{ path('backend_comment_detail', {'id': comment.id}) }}">
                                <button class="btn btn-info">Detail</button>
                            </form>

                        </td>
                        <td>
                            <form method="post" action="{{ path('backend_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="delete_token" value="{{csrf_token('delete_comment')}}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}