{% extends 'backend/adminbase.html.twig' %}
{% block title %} Messages {% endblock %}
{% block header %} User Messages {% endblock %}

{% block main_content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th colspan="3" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.id }}</td>
                        <td>{{ message.name }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.status }}</td>
                        <td>{{ message.note }} </td>
                        <td>
                            <form method="post" action="{{ path('backend_message_detail', {'id': message.id}) }}">
                                <button class="btn btn-info">Detail</button>
                            </form>

                        </td>

                        <td>
                            <form method="post" action="{{ path('backend_message_edit', {'id': message.id}) }}">
                                <input type="hidden" name="_method" value="EDIT">
                                <button class="btn btn-info">Edit</button>
                            </form>

                        </td>
                        <td>
                            <form method="post" action="{{ path('backend_message_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this message?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="delete_token" value="{{csrf_token('delete_message')}}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}